body {
    background-color: #f70000;
    
}

.helloween{
    width: 100%;
    height: 500px;
    background-image:url(../img/helloween2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}   

.gif {
    background-color: #000000;
    text-align: center;
}


.bgBox {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background: url(../img/tenor.gif), url(../img/131.gif), url(../img/gannibal.gif);
    background-position: center, right, left;
    background-size: 30%, 20%, 10%;
    background-repeat: no-repeat;
}

.pic {
    width: 100%;
    height: 1300px;
    text-align: center;
    margin-bottom: 40px;
    background-image:url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.80; /*Определяет прозрачность*/

}

.text h2 {
    color: green;
    text-decoration: underline;
}

.text p {
    margin-left: 25px;
    width: 200px;
    text-align: justify;
}

.text ol, h3{
    text-align: left;
}
/*.text ol li a*/
a{
    text-decoration: none;
}

.text a:hover{
    background: black;
    color: #ff0303;
}

.text a:focus {
    border: solid 3px #3100ff;
    background-color: #ff000a;
    color: #000000;
    
}

   