* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.header {
    margin-top: 15px;
}


.adress_main,
.phone_main,
.clock_work {
    width: 26%;
    font-size: 19px;
    padding-top: 25px;
    text-align: center;
}

/*
.clock_work{
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
}
*/

.adress_main i,
.phone_main i,
.clock_work i {
    font-size: 20px;
    color: #7884c7;
    padding-right: 5px;
}

.phone_main a {
    color: #2c2626;
    text-decoration: none;
}

.phone_main a:hover {
    color: dodgerblue;
}

.adress_main {
    color: #333;
}

.logo {
    width: 20%;
}

.nav-menu {
    /*
    width: 1170px;    Подгоняем размер, что бы убрать часть контейнера по бокам.
    margin: 0 auto;
*/
    width: 100%;
    background: #181886;
    margin-top: 15px;
}

ul.menu-main > li.item-menu {
    list-style: none;
    float: left;
}

ul.menu-main > li.item-menu > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    padding: 20px 15px;
    display: block;
}

ul.menu-main > li.item-menu > a:hover {
    color: aqua;
}