* {
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

.for_page{
    position: relative;
    min-height: 100%;
}

.page{
    padding-bottom: 58px;
}

.container1{
    background-image: url(../img/bg3.gif);
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-top: -85px;
}

.container1 h2{
    text-align: center;
    font-size: 100px;
    color: #6deeff;  
    padding-top: 200px;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

img {
    /*max-width: 100%;*/
    /*так правильно писать для тега имедж. Авто - чтобы не растягивать на весь экран*/
    min-width: 100%;
    width: auto;
    height: auto;
}


.header {
    width: 100%;
    top: 0;
    left: 0;
}

.nav-menu{
/*
    width: 117px;    Подгоняем размер, что бы убрать часть контейнера по бокам.
    margin: 0 auto;
*/
    width: 100%;
    background: #484848;
    margin-bottom: 60px;
    float: right;
}

ul.menu-main li.item-menu{
    list-style: none;
    float: left;
} 

ul.menu-main li.item-menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    padding: 20px 15px;
    display: block;
}


ul.menu-main li.item-menu a:hover{
    color: aqua;
}


ul .menu-main li.item-menu:nth-child(3){
 position: relative;   
}

ul.menu-main li.item-menu:nth-child(3) ul.child-menu-item{
    position: absolute;
    background: #55555880;
    width: 100px;
    display:none; 
    
}

ul.menu-main li.item-menu:nth-child(3):hover ul.child-menu-item{
    display: block;
    z-index:;
    
}
  
}

ul.menu-main li.item-menu ul.child-menu-item li a{
    padding: 10px 15px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px; 
}

body{
    
    background: #221919;
/*
    background-image: url(../img/bg3.png);
    background-attachment: fixed;
*/
       
}

img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.item-blog{
    width: 365px;
    float: left;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 40px;
}

.item-blog:nth-child(4){
    clear: both;
    
}

.item-blog:nth-child(7){
    clear: both;
    
}

.image-blog{
    max-height: 214px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 0, 0.35);
    border-radius: 20px;
    transition: linear 0.5s;
}

.item-blog:nth-child(2):hover .image-blog{
    border-radius: 100%;    
}
.item-blog:nth-child(2):hover .image-blog img{
  transform: none;
}

.item-blog:nth-child(5):hover .image-blog{
    border-radius: 100%;    
}
.item-blog:nth-child(5):hover .image-blog img{
  transform: none;
}

.item-blog h2{
    margin-top: 15px;
    min-height: 35px;
}

.item-blog p{
    padding-bottom: 10px;
    color: #a7c11c;
}

span{
    text-decoration: line-through;
    color: red;
}

.item-blog a{
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: #a19aff; 
}

.item-blog a:hover{
    color: #ff2727;
}

.expert_description{
/*min-height: 150px; делаем для самого большого блока(текста), остальные будут с отступом, пробел*/
 max-height: 80px;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    color: #65c6a0;
}

.item-blog .btn_blog{
    width: 150px;
    margin-top: 20px;
    box-sizing: border-box;
    background: #90f778;
    color: #4d4d00;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: linear 0.3s;
  
}
.item-blog .btn_blog:hover{
    background: #5e90ff;
    border-radius: 25px; 
}

.image-blog img{
    transition: all 1s ease-out;
}

.image-blog img:hover{
    transform: scale(1.1);
}

.footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3d6481;
    padding: 20px 0;
}


footer{
    color: #ffffff;
    text-align: center;
}























